# 1

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
attacks = pd.read_csv('./attacks.csv', encoding='windows-1252')
attacks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

# 2

In [3]:
attacks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [4]:
attacks.columns = attacks.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('.', '_')
attacks.columns

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\3785093770.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  attacks.columns = attacks.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('.', '_')

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_(y/n)', 'time',
       'species', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number_1', 'case_number_2', 'original_order', 'unnamed:_22',
       'unnamed:_23'],
      dtype='object')

In [5]:
attacks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             8702 non-null   object
 1   date                    6302 non-null   object
 2   year                    6300 non-null   float64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   sex                     5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal_(y/n)             5763 non-null   object
 13  time                    2948 non-null   object
 14  species                 3464 non-null   object
 15  investigator_or_source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case_number_1           6302 non-null   object
 20  case_number_2           6302 non-null   object
 21  original_order          6309 non-null   float64
 22  unnamed:_22             1 non-null      object
 23  unnamed:_23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

# 3

In [6]:
attacks_mod = attacks
attacks_mod = attacks_mod.drop_duplicates()

In [7]:
attacks_mod.drop(['time', 'case_number_1', 'case_number_2', 'unnamed:_22', 'unnamed:_23', 'investigator_or_source', 'pdf', 'href_formula', 'href'], axis=1, inplace=True)
attacks_mod.columns

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2672397415.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod.drop(['time', 'case_number_1', 'case_number_2', 'unnamed:_22', 'unnamed:_23', 'investigator_or_source', 'pdf', 'href_formula', 'href'], axis=1, inplace=True)

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_(y/n)', 'species',
       'original_order'],
      dtype='object')

In [8]:
attacks_mod = attacks_mod.reset_index(drop=True).drop(labels='original_order', axis=1)
attacks_mod.head()

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),species
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,2 m shark
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m"

In [9]:
attacks_mod.index.name = 'original_order'
attacks_mod.head()

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),species
original_order,,,,,,,,,,,,,,
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,2 m shark
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m"

# 4

In [10]:
attacks_mod['type'].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [11]:
attacks_mod['type'].value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: type, dtype: int64

In [12]:
attacks_mod['type'].replace(['Boating'], ['Boat'], inplace=True)
attacks_mod['type'].replace(['Boatomg'], ['Boat'], inplace=True)
attacks_mod['type'].value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Boat             341
Sea Disaster     239
Questionable       2
Name: type, dtype: int64

In [13]:
attacks_mod.drop([16, 20], inplace=True)

In [14]:
attacks_mod['type'].value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Boat             341
Sea Disaster     239
Name: type, dtype: int64

# 5

In [15]:
attacks_mod['fatal_(y/n)'].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [16]:
attacks_mod['fatal_(y/n)'].replace(['M', ' N', 'N ', 'y', '2017'], ['N', 'N', 'N', 'Y', 'N'], inplace=True)
attacks_mod['fatal_(y/n)'].fillna('UNKNOWN', inplace=True)
attacks_mod['fatal_(y/n)'].value_counts()

N          4301
Y          1389
UNKNOWN     620
Name: fatal_(y/n), dtype: int64

# 6

In [17]:
len(attacks_mod['country'].sort_values().unique())

213

In [18]:
attacks_mod.replace([' PHILIPPINES', ' TONGA', 'ANDAMAN / NICOBAR ISLANDAS', 'ANDAMAN ISLANDS',
       'ASIA?', 'CEYLON', 'CEYLON (SRI LANKA)', 'CRETE', 'Coast of AFRICA', 'EGYPT ', 'EGYPT / ISRAEL'
       'EQUATORIAL GUINEA / CAMEROON', 'Fiji', 'GRAND CAYMAN', 'GULF OF ADEN', 'HONG KONG', 'INDIAN OCEAN?',
       'IRAN / IRAQ', 'ITALY / CROATIA', 'JAVA', 'JOHNSTON ISLAND', 'KOREA', 'MALDIVE ISLANDS', 'MEXICO ',
       'MID ATLANTIC OCEAN', 'MID-PACIFC OCEAN', 'NEW BRITAIN', 'NEW GUINEA', 'NICARAGUA ',
       'NORTH ATLANTIC OCEAN', 'NORTH ATLANTIC OCEAN ', 'NORTH PACIFIC OCEAN', 'NORTH SEA',
       'NORTHERN ARABIAN SEA', 'NORTHERN MARIANA ISLANDS', 'OKINAWA', 'PACIFIC OCEAN ', 'PALAU',
       'PALESTINIAN TERRITORIES', 'RED SEA', 'RED SEA / INDIAN OCEAN', 'RED SEA?',
       'REUNION', 'REUNION ISLAND', 'ROATAN', 'SAN DOMINGO', 'SOLOMON ISLANDS / VANUATU',
       'SOUTH ATLANTIC OCEAN', 'SOUTH CHINA SEA',
       'SOUTH PACIFIC OCEAN', 'SOUTHWEST PACIFIC OCEAN', 'ST HELENA, British overseas territory',
       'ST. MAARTIN', 'ST. MARTIN', 'SUDAN?', 'Seychelles', 'Sierra Leone',
       'TASMAN SEA', 'THE BALKANS', 'TOBAGO', 'TRINIDAD & TOBAGO',
       'UNITED ARAB EMIRATES (UAE)', 'WESTERN SAMOA', 'YEMEN '],
      ['PHILIPPINES', 'TONGA', 'ANDAMAN AND NICOBAR ISLANDAS', 'ANDAMAN AND NICOBAR ISLANDAS',
       'ASIA', 'SRI LANKA', 'SRI LANKA', 'GRECIA', 'US VIRGIN ISLANDS', 'EGYPT', 'EGYPT'
       'EQUATORIAL GUINEA', 'FIJI', 'CAYMAN ISLANDS', 'SOMALIA', 'CHINA', 'INDIAN OCEAN',
       'IRAN', 'CROATIA', 'INDONESIA', 'JOHNSTON ATOLL', 'SOUTH KOREA', 'MALDIVES', 'MEXICO',
       'ATLANTIC OCEAN', 'PACIFC OCEAN', 'PAPUA NEW GUINEA', 'PAPUA NEW GUINEA', 'NICARAGUA',
       'ATLANTIC OCEAN', 'ATLANTIC OCEAN ', 'PACIFIC OCEAN', 'ATLANTIC OCEAN',
       'INDIAN OCEAN', 'MARIANA ISLANDS', 'JAPAN', 'PACIFIC OCEAN', 'PALAU',
       'PALESTINE', 'INDIAN OCEAN', 'INDIAN OCEAN', 'INDIAN OCEAN',
       'FRANCE', 'FRANCE', 'HONDURAS', 'DOMINICAN REPUBLIC', 'SOLOMON ISLANDS',
       'ATLANTIC OCEAN', 'PACIFIC OCEAN',
       'PACIFIC OCEAN', 'PACIFIC OCEAN', 'SAINT HELENA',
       'SAINT MARTIN', 'SAINT MARTIN', 'SUDAN', 'SAYCHELLES', 'SIERRA LEONE', 
       'PACIFIC OCEAN', 'SLOVENIA', 'TRINIDAD & TOBAGO', 'TRINIDAD & TOBAGO',
       'UNITED ARAB EMIRATES', 'SAMOA', 'YEMEN'], inplace=True)
len(attacks_mod['country'].sort_values().unique())

165

# 7

In [19]:
attacks_mod['year'].sort_values().unique()

array([   0.,    5.,   77.,  500., 1543., 1554., 1555., 1580., 1595.,
       1617., 1637., 1638., 1642., 1700., 1703., 1721., 1723., 1733.,
       1738., 1742., 1748., 1749., 1751., 1753., 1755., 1758., 1764.,
       1767., 1771., 1776., 1779., 1780., 1783., 1784., 1785., 1786.,
       1787., 1788., 1791., 1792., 1797., 1800., 1801., 1802., 1803.,
       1804., 1805., 1807., 1808., 1810., 1811., 1812., 1815., 1816.,
       1817., 1818., 1819., 1822., 1823., 1825., 1826., 1827., 1828.,
       1829., 1830., 1831., 1832., 1834., 1835., 1836., 1837., 1839.,
       1840., 1841., 1842., 1844., 1845., 1846., 1847., 1848., 1849.,
       1850., 1851., 1852., 1853., 1855., 1856., 1857., 1858., 1859.,
       1860., 1861., 1862., 1863., 1864., 1865., 1866., 1867., 1868.,
       1869., 1870., 1871., 1872., 1873., 1874., 1875., 1876., 1877.,
       1878., 1879., 1880., 1881., 1882., 1883., 1884., 1885., 1886.,
       1887., 1888., 1889., 1890., 1891., 1892., 1893., 1894., 1895.,
       1896., 1897., 1898., 1899., 1900., 1901., 1902., 1903., 1904.,
       1905., 1906., 1907., 1908., 1909., 1910., 1911., 1912., 1913.,
       1914., 1915., 1916., 1917., 1918., 1919., 1920., 1921., 1922.,
       1923., 1924., 1925., 1926., 1927., 1928., 1929., 1930., 1931.,
       1932., 1933., 1934., 1935., 1936., 1937., 1938., 1939., 1940.,
       1941., 1942., 1943., 1944., 1945., 1946., 1947., 1948., 1949.,
       1950., 1951., 1952., 1953., 1954., 1955., 1956., 1957., 1958.,
       1959., 1960., 1961., 1962., 1963., 1964., 1965., 1966., 1967.,
       1968., 1969., 1970., 1971., 1972., 1973., 1974., 1975., 1976.,
       1977., 1978., 1979., 1980., 1981., 1982., 1983., 1984., 1985.,
       1986., 1987., 1988., 1989., 1990., 1991., 1992., 1993., 1994.,
       1995., 1996., 1997., 1998., 1999., 2000., 2001., 2002., 2003.,
       2004., 2005., 2006., 2007., 2008., 2009., 2010., 2011., 2012.,
       2013., 2014., 2015., 2016., 2017., 2018.,   nan])

In [20]:
print(attacks_mod[attacks_mod['year'] == 0]['date'].unique())
print(attacks_mod[attacks_mod['year'] == 5]['date'].unique())
print(attacks_mod[attacks_mod['year'] == 77]['date'].unique())

['Ca. 214 B.C.' 'Ca. 336.B.C..' '493 B.C.' 'Ca. 725 B.C.' 'Before 1939'
 '1990 or 1991' 'Before 2016' 'Before Oct-2009' 'Before 1934' '2009?'
 'Before 1930' '1880-1899' 'Before 1909' 'Before 2012' 'Before 1916'
 'Between   1951-1963' 'Before 1908' 'Before 1900' 'Before 1876'
 'Before 2011' 'Before 2009' 'Beforer 1994' 'Before 1963' '1896-1913'
 'Before 1936' 'Before 08-Jun-1912' 'Before 1911' 'Before 1901'
 'No date, late 1960s' 'Before 2006' 'Before 2003' 'Before 2004'
 'Before 1962' '1950s' 'No date, Before 1963' '2003?' 'No date'
 'Before Feb-1998' 'No date, Before May-1996' 'No date, Before Mar-1995'
 'Before 1996' 'No date, Before Aug-1989' 'No date, Before Aug-1987'
 'No date, Before 1987' 'No date, Before  1975' 'No date, Before 1975'
 'No date, Before 1969' 'No date, Before 3-Jan-1967'
 'No date, Before 8-May-1965' 'No date, Before 1902'
 'No date, After August 1926 and before 1936' 'Before 1961' '1960s'
 'Before 1960' 'Before  19-Jun-1959' 'Before  24 Apr-1959' 'Before  1958'
 'Before 1958' 'Before 1957' 'Before 1956' 'Before Mar-1956' 'Before 1952'
 '1941-1945' '"During the war" 1943-1945' '"Before the war"'
 'Said to be 1941-1945, more likely 1945' '1941-1942' '1940 - 1950'
 '1940-1946' 'Before 1905' 'World War II' 'A few years before 1938'
 'Early 1930s' 'Before 1927' 'Between 1918 & 1939' '1920 -1923'
 'Before 1921' 'Before 1917' 'Before 17-Jul-1916'
 'No date (3 days after preceding incident) & prior to 19-Jul-1913'
 'Before 19-Jul-1913' 'Circa 1862' 'Before 1906' 'Before 1903' '1900-1905'
 '1883-1889' '1845-1853']
['Ca. 5 A.D.']
['77  A.D.']

In [21]:
dates = ['Ca. 214 B.C.', 'Ca. 336.B.C..', '493 B.C.', 'Ca. 725 B.C.', 'Before 1939',
 '1990 or 1991', 'Before 2016', 'Before Oct-2009', 'Before 1934', '2009?',
 'Before 1930', '1880-1899', 'Before 1909', 'Before 2012', 'Before 1916',
 'Between   1951-1963', 'Before 1908', 'Before 1900', 'Before 1876',
 'Before 2011', 'Before 2009', 'Beforer 1994', 'Before 1963', '1896-1913',
 'Before 1936', 'Before 08-Jun-1912', 'Before 1911', 'Before 1901',
 'No date, late 1960s', 'Before 2006', 'Before 2003', 'Before 2004',
 'Before 1962', '1950s', 'No date, Before 1963', '2003?',
 'Before Feb-1998', 'No date, Before May-1996', 'No date, Before Mar-1995',
 'Before 1996', 'No date, Before Aug-1989', 'No date, Before Aug-1987',
 'No date, Before 1987', 'No date, Before  1975', 'No date, Before 1975',
 'No date, Before 1969', 'No date, Before 3-Jan-1967',
 'No date, Before 8-May-1965', 'No date, Before 1902',
 'No date, After August 1926 and before 1936', 'Before 1961', '1960s',
 'Before 1960', 'Before  19-Jun-1959', 'Before  24 Apr-1959', 'Before  1958',
 'Before 1958', 'Before 1957', 'Before 1956', 'Before Mar-1956', 'Before 1952',
 '1941-1945', '"During the war" 1943-1945', '"Before the war"',
 'Said to be 1941-1945, more likely 1945', '1941-1942', '1940 - 1950',
 '1940-1946', 'Before 1905', 'World War II', 'A few years before 1938',
 'Early 1930s', 'Before 1927', 'Between 1918 & 1939', '1920 -1923',
 'Before 1921', 'Before 1917', 'Before 17-Jul-1916',
 'No date (3 days after preceding incident) & prior to 19-Jul-1913',
 'Before 19-Jul-1913', 'Circa 1862', 'Before 1906', 'Before 1903', '1900-1905',
 '1883-1889', '1845-1853', 'Ca. 5 A.D.', '77  A.D.']

years = [-213, -335, -492, -724, 1938, 1990, 2015, 2009, 1933, 2009, 1929, 1890,
 1908, 2011, 1915, 1957, 1907, 1899, 1875, 2010, 2008, 1993, 1962, 1904,
 1935, 1912, 1911, 1900, 1969, 2005, 2002, 2003, 1961, 1955, 1962, 2003,
 1998, 1996, 1995, 1995, 1989, 1987, 1986, 1974, 1974, 1968, 1966, 1965,
 1901, 1931, 1960, 1965, 1959, 1959, 1959, 1957, 1957, 1956, 1955, 1956,
 1951, 1943, 1944, 1942, 1945, 1941, 1945, 1943, 1904, 1944, 1935, 1931,
 1926, 1928, 1921, 1920, 1916, 1916, 1913, 1913, 1862, 1905, 1902, 1902,
 1886, 1849, -4, -76]

for i in range(len(dates)):
    ind = attacks_mod[attacks_mod['date'] == dates[i]].index
    attacks_mod['year'][ind] = years[i]

attacks_mod['year'] = attacks_mod['year'].astype('Int64')

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks_mod['year'][ind] = years[i]
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\2797148477.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame


In [22]:
attacks_mod.head()

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),species
original_order,,,,,,,,,,,,,,
0,2018.06.25,25-Jun-2018,2018,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,2 m shark
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m"

# 8

In [23]:
attacks_mod['sex'].unique()

array(['F', 'M', nan, 'M ', 'lli', 'N', '.'], dtype=object)

In [24]:
attacks_mod[attacks_mod['sex'] == '.']

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),species
original_order,,,,,,,,,,,,,,
5437,1908.06.02.R,Reported 02-Jun-1908,1908,Sea Disaster,PAPUA NEW GUINEA,New Britain,Matupi,.,NaN,.,NaN,"Remains of 3 humans recovered from shark, but ...",Y,Allegedly a 33-foot shark

In [25]:
attacks_mod['sex'].replace(['M ', 'lli'],['M', 'lli'])

original_order
0         F
1         F
2         M
3         M
4         M
       ...
6307    NaN
6308    NaN
6309    NaN
6310    NaN
6311    NaN
Name: sex, Length: 6310, dtype: object

# 9

In [26]:
attacks_mod['date'].unique()

array(['25-Jun-2018', '18-Jun-2018', '09-Jun-2018', ..., '1883-1889',
       '1845-1853', nan], dtype=object)

In [27]:
attacks_mod['date'].replace(dates, years, inplace=True)

In [28]:
# attacks_mod['date'].replace(['Reported 30-Apr-2018', 'Reported 10-Apr-2018'], ['30-04-2018', '10-04-2018'], inplace=True)

In [29]:
attacks_mod['date'] = attacks_mod['date'].str.replace(r'\bReported .*\b', '')
attacks_mod['date'] = attacks_mod['date'].str.replace(r'\b.*--.*', '-')
attacks_mod['date'] = attacks_mod['date'].str.replace('-', '')
attacks_mod['date'] = attacks_mod['date'].str.replace(' ', '')

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\865485412.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  attacks_mod['date'] = attacks_mod['date'].str.replace(r'\bReported .*\b', '')
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_15308\865485412.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  attacks_mod['date'] = attacks_mod['date'].str.replace(r'\b.*--.*', '-')

In [30]:
attacks_mod['date'].replace(['190Feb2010', 'Late Jul2008', 'Fall 2008', 'Summer2008',
                             '19Jul2007.b', '19Jul2007.a', 'Early Aug2006', ' 19Jul2004 "',
                             'LateJul2008', 'Fall2008', 'EarlyAug2006', '19Jul2004"',
                             'LateJul2003', '02Ap2001', 'EarlySep2000', 'EarlyJun2000',
                             'EarlyJul1995', 'Lastincidentof1994inHongKong', 'LateMay1993',
                             'Fall1993', 'BetweenMay&Nov1993', 'MidJul1985ormidJul1986',
                             'Ca.1983'],
                            ['19-Feb-2010', '31-Jul-2008', '22-Sep-2008', '21-Sep-2008',
                             '19-Jul-2007', '19-Jul-2007', '01-Aug-2006', '19-Jul-2004',
                             '31-Jul-2008', '22-Sep-2008', '01-Aug-2006', '19-Jul-2004',
                             '31-Jul-2003', '02-Apr-2001', '01-Sep-2000', '01-Jun-2000',
                             '01-Jul-1995', np.nan, '31-May-1993',
                             '22-Sep-2003', np.nan, np.nan,
                             1983], inplace=True)

In [31]:
attacks_mod[attacks_mod['date'].str.match(r'\bReported.*\b') == True]

Empty DataFrame
Columns: [case_number, date, year, type, country, area, location, activity, name, sex, age, injury, fatal_(y/n), species]
Index: []

In [32]:
attacks_mod['date'] = pd.to_datetime(attacks_mod['date'], errors='coerce')
attacks_mod

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),species
original_order,,,,,,,,,,,,,,
0,2018.06.25,2018-06-25,2018,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,2018.06.18,2018-06-18,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,NaN
2,2018.06.09,2018-06-09,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,NaN
3,2018.06.08,2018-06-08,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,2 m shark
4,2018.06.04,2018-06-04,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6307,0,NaT,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNKNOWN,NaN
6308,0,NaT,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNKNOWN,NaN
6309,0,NaT,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNKNOWN,NaN
6310,NaN,NaT,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNKNOWN,NaN
6311,xx,NaT,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNKNOWN,NaN

# 10

In [33]:
attacks_mod['age'].sort_values().unique()

array([' ', '  ', ' 28', ' 30', ' 43', '"middle-age"', '"young"',
       '(adult)', '1', '10', '10 or 12', '11', '12', '12 or 13', '13',
       '13 or 14', '13 or 18', '14', '15', '16', '16 to 18', '17',
       '17 & 16', '17 & 35', '18', '18 months', '18 or 20', '18 to 22',
       '19', '2 to 3 months', '20', '20 ', '20?', '20s', '21', '21 & ?',
       '21 or 26', '21, 34,24 & 35', '22', '23', '23 & 20', '23 & 26',
       '24', '25', '25 or 28', '25 to 35', '26', '27', '28', '28 & 26',
       '28, 23 & 30', '29', '2½', '3', '30', '30 & 32', '30 or 36', '30s',
       '31', '31 or 33', '32', '32 & 30', '33', '33 & 26', '33 & 37',
       '33 or 37', '34', '34 & 19', '35', '36', '36 & 23', '36 & 26',
       '37', '37, 67, 35, 27,  ? & 27', '38', '39', '40', '40s', '41',
       '42', '43', '44', '45', '45 ', '46', '46 & 34', '47', '48', '49',
       '5', '50', '50 & 30', '50s', '51', '52', '53', '54', '55', '56',
       '57', '58', '59', '6', '60', "60's", '60s', '61', '62', '63', '64',
       '65', '66', '67', '68', '69', '6½', '7', '7      &    31',
       '7 or 8', '70', '71', '72', '73', '74', '74 ', '75', '77', '78',
       '8', '8 or 10', '81', '82', '84', '86', '87', '9', '9 & 12',
       '9 months', '9 or 10', '>50', '?    &   14', '? & 19', 'A.M.',
       'Both 11', 'Ca. 33', 'Elderly', 'F', 'MAKE LINE GREEN', 'Teen',
       'Teens', 'X', 'adult', 'mid-20s', 'mid-30s', 'teen', 'young',
       '\xa0 ', nan], dtype=object)

In [34]:
attacks_mod[attacks_mod['age'] == ' 28']

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),species
original_order,,,,,,,,,,,,,,
2434,1994.05.31.a,1994-05-31,1994,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Surfing,Alex Reeber,M,28,Right foot lacerated,N,1.2 m [4'] spinner shark

In [35]:
attacks_mod['age'] = attacks_mod['age'].str.strip()

In [36]:
attacks_mod['age'].replace([' ', '  ', '"middle-age"', '"young"', '(adult)', '10 or 12',
                            '12 or 13', '13 or 14', '13 or 18', '16 to 18', '17 & 16',
                            '17 & 35', '18 months', '18 or 20', '18 to 22', '2 to 3 months',
                            '20?', '20s', '21 & ?', '21 or 26', '21, 34,24 & 35',
                            '23 & 20', '23 & 26', '25 or 28', '25 to 35', '28 & 26', '28, 23 & 30',
                            '2½', '30 & 32', '30 or 36', '30s', '31 or 33', '32 & 30',
                            '33 & 26', '33 & 37', '33 or 37', '34 & 19', '36 & 23', '36 & 26',
                            '37, 67, 35, 27,  ? & 27', '40s', '46 & 34', '50 & 30', '50s', "60's", '60s',
                            '6½', '7      &    31', '7 or 8', '8 or 10', '9 & 12', '9 months', '9 or 10',
                            '>50', '?    &   14', '? & 19', 'A.M.', 'Both 11', 'Ca. 33', 'Elderly',
                            'F', 'MAKE LINE GREEN', 'Teen', 'Teens', 'X', 'adult', 'mid-20s',
                            'mid-30s', 'teen', 'young', ''],
                           [np.nan, np.nan, np.nan, np.nan, np.nan, '11',
                            '12', '14', '15', '17', '16',
                            '26', '1', '19', '20', '0',
                            '20', '20', '21', '23', np.nan,
                            '21', '24', '26', '30', '27', np.nan,
                            '2', '31', '33', '35', '32', '31',
                            '29', '35', '35', '26', '29', '31',
                            np.nan, '45', '40', '40', '55', '65', '65',
                            '6', np.nan, '7', '9', '10', '0', '9',
                            np.nan, '14', '19', np.nan, '11', np.nan, np.nan,
                            np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, '25',
                            '35', np.nan, np.nan, np.nan], inplace=True)

In [37]:
attacks_mod['age'].sort_values().unique()

array(['0', '1', '10', '11', '12', '13', '14', '15', '16', '17', '18',
       '19', '2', '20', '21', '22', '23', '24', '25', '26', '27', '28',
       '29', '3', '30', '31', '32', '33', '34', '35', '36', '37', '38',
       '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49',
       '5', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59',
       '6', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69',
       '7', '70', '71', '72', '73', '74', '75', '77', '78', '8', '81',
       '82', '84', '86', '87', '9', nan], dtype=object)

# 11

In [38]:
attacks_mod.drop_duplicates(inplace=True)
attacks_mod.drop([6302, 6310, 6311], inplace=True)
attacks_mod

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),species
original_order,,,,,,,,,,,,,,
0,2018.06.25,2018-06-25,2018,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,2018.06.18,2018-06-18,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,NaN
2,2018.06.09,2018-06-09,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,NaN
3,2018.06.08,2018-06-08,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,2 m shark
4,2018.06.04,2018-06-04,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,NaT,1902,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN
6298,ND.0004,NaT,1902,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN
6299,ND.0003,NaT,1902,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN
6300,ND.0002,NaT,1886,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN
6301,ND.0001,NaT,1849,Unprovoked,SRI LANKA,Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN

In [39]:
attacks_mod.to_csv('attacks_clean.csv', index=False)